/* 版心 */
.w {
    width: 1200px;
    margin: 0 auto;
}
/* 声明字体图标 这里一定要注意路径的变化*/
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?jdy6ie');
    src:  url('../fonts/icomoon.eot?jdy6ie#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?jdy6ie') format('truetype'),
      url('../fonts/icomoon.woff?jdy6ie') format('woff'),
      url('../fonts/icomoon.svg?jdy6ie#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
.style_red {
    color: #c81623;
}
.fl {
    float: left;
}

.fr{
    float: right;
}

/* 快捷导航模块 */
.shortcut {
    height: 31px;
    background-color: #f1f1f1;
    line-height: 31px;
}

.shortcut ul li {
    float: left;
}
/* 选择所有的偶数的孩子 */
.shortcut .fr ul li:nth-child(even){
    width: 1px;
    height: 12px;
    background-color: #666666;
    margin: 8px 15px ;
}
/* 通过给a设置高度和右边框实现竖线及文字间隔 */
/* .shortcut .fr ul li a{
    height: 12px;
    border-right: 1px solid #666666;
    padding: 0 15px;
} */
    
.shortcut .arrow-icon::after{
    font-family: 'icomoon';
    content: '\e900';
    margin-left: 6px;
}

/* header模块 */
.header {
    position: relative;
    height: 105px;
    /* background-color: pink; */
}

.logo {
    position: absolute;
    top: 25px;
    left: 0;
    width: 171px;
    height: 61px;
    /* background-color: skyblue; */
}

.logo a {
    display: block;
    width: 171px;
    height: 61px;
    background: url(../images/logo.png) no-repeat;
    /* 京东的做法 */
    /* font-size: 0; */
    /* 淘宝的做法 */
    text-indent: -9999px;
    overflow: hidden;
}

.search {
    position: absolute;
    top: 27px;
    left: 346px;
    width: 538px;
    height: 36px;
    border: 2px solid #b1191a;
}

.search input {
    float: left;
    width: 454px;
    height: 32px;
    padding-left:10px;
}

.search button {
    float: left;
    width: 80px;
    height: 32px;
    background-color: #b1191a;
    font-size: 16px;
    color: #fff;
}

.hotwords {
    position: absolute;
    top: 70px;
    left: 346px;
}

.hotwords a {
    margin: 0 10px;
}

.shopcar {
    position: absolute;
    top: 25px;
    right: 60px;
    width: 140px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border: 1px solid#dfdfdf;
    background-color: #f7f7f7;
    color: #666666;
}

.shopcar::before{
    font-family: 'icomoon';
    content: '\e907';
    margin-right: 5px;
    color: red;
}

.shopcar::after{
    font-family: 'icomoon';
    content: '\e902';
    margin-left: 10px;
}

.count {
    position: absolute;
    top:-5px;
    /* right: 20px; */
    left: 105px;
    height: 14px;
    line-height: 15px;
    background-color: #e60012;
    color: #fff;
    padding: 0 5px;
    border-radius: 7px 7px 7px 0;
}

.nav {
    height: 45px;
    border-bottom: 2px solid #b1191a;
}

.dropdown {
    width: 210px;
    height: 45px;
    background-color: #b1191a;
}

.dropdown .dt {
    width: 100%;
    height: 100%;
    font-size: 16px;
    line-height: 45px;
    text-align: center;
    color: #fff;
}

 .dropdown .dd {
    /* display: none; */
    width: 100%;
    height: 465px;
    background-color: #c81623;
    /* 上移2px，让盒子能压住nav的边框红线 */
    margin-top: -2px;
} 

.dropdown .dd ul li {
    position: relative;
    height: 31px;
    line-height: 31px;
    margin-left: 2px;
    padding-left: 10px;
    background-color: #c81623;
}

.dropdown .dd ul li:hover {
    background-color: #fff;
}

.dropdown .dd li a {
    font-size: 14px;
    color: #fff;
}

.dropdown .dd li:hover a{
    color: #c81623;
}

.dropdown .dd ul li::after{
    position: absolute;
    top: 1px;
    right: 10px;
    font-family: 'icomoon';
    content: '\e902';
    color: #fff;
    font-size: 14px;
}

.navitems ul li {
    float: left;
}

.navitems ul li a {
    display: block;
    height: 45px;
    line-height: 45px;
    font-size: 16px;
    padding: 0 25px;
}

/* footer制作 */
footer {
    height: 415px;
    padding-top: 30px;
    background-color: #f5f5f5;
}

.mod_service  {
    height: 80px;
    border-bottom: 1px solid #ccc;
}

.mod_service ul li {
    float: left;
    width: 240px;
    height: 50px;
    padding-left: 35px;
    /* background-color: pink; */
}
.mod_service ul li h5 {
    float: left;
    width:50px;
    height: 100%;
    /* background-color: purple; */
    background: url(../images/icon.png) no-repeat;
    margin-right: 8px;
}
.mod_service ul li .zheng {
    background-position:  -252px -2px;
}
.mod_service ul li .ji {
    background-position:  -254px -53px;
}

.mod_service ul li .wu {
    background-position: -256px -106px;
}

.mod_service ul li .te {
    background-position: -258px -157px;
}

.mod_service ul li .bang {
    background-position: -255px -207px;
}

.mod_service ul li h4{
    font-size: 14px;
    color: #333333;
}

.mod_service ul li p{
    font-size: 12px;
    color: #333333;
}

.mod_help {
    height: 185px;
    border-bottom: 1px solid #ccc;
    padding-top: 20px;
    padding-left: 50px;
}


.mod_help dl dt {
    font-size: 16px;
    margin-bottom: 12px;
}

.mod_help dl dd {
    font-size: 12px;
}

.mod_help dl {
    float: left;
    width: 200px;
}

.mod_help dl:last-child{
    width: 90px;
    text-align: center;
}

.mod_copyright {
    text-align: center;
    margin-top: 20px;
    line-height: 20px;
} 

.links {
    margin-bottom: 15px;
}
.links a {
    padding: 0 3px;
}

